.navbar_container{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.navbar_backgroundcolor{
    height: 55px;
    background-color: rgb(161, 248, 228);
    border-bottom: 2px solid rgb(38, 247, 198);
}

.navbar_dark{
    height: 55px;
    background-color: whitesmoke;
}

.navbar_logo{
    position: fixed;
    top: 5px;
    left: 10px;
    width: 45px;
    cursor: pointer;
}

.navbar_button{
    background-color: lightgrey;
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
}

.navbar_icon{
    color: rgb(10, 180, 218);
    position: fixed;
    top: 8px;
    right: 25px;
    cursor: pointer;
}

